<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:kie="http://drools.org/schema/kie-spring"
       xsi:schemaLocation="
       http://drools.org/schema/kie-spring http://drools.org/schema/kie-spring.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <kie:import releaseId-ref="kjarToUse" />
  <kie:releaseId id="kjarToUse" groupId="org.drools.devguide" artifactId="chapter-11-kjar" version="0.1-SNAPSHOT" />

  <kie:kmodule id="kie-spring-sample">
    <kie:kbase name="kbase1">
      <kie:ksession name="ksession1"/>
    </kie:kbase>
  </kie:kmodule>

  <bean id="kiePostProcessor" class="org.kie.spring.KModuleBeanFactoryPostProcessor"/>

</beans>
